<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dre.individualprojectquest2v1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.LoginActivity" />
        <activity android:name=".View.AccountReg" />
        <activity android:name=".View.InstructionsActivity" />
        <activity android:name=".View.Questions1To5.Question1Activity" />
        <activity android:name=".View.Questions1To5.Question3Activity" />
        <activity android:name=".View.Questions1To5.Question4Activity" />
        <activity android:name=".View.Questions1To5.Question5Activity" />
        <activity android:name=".View.ScoreInflatorActivity" />
        <activity android:name=".View.Questions1To5.Question2Activity" />
        <activity android:name=".View.FinalQuestion" />
        <activity android:name=".View.quizSelection"></activity>
    </application>

</manifest>